@import url(http://fonts.googleapis.com/css?family=Comfortaa);
body {
	font-family: 'Comfortaa', cursive;
    overflow: hidden;
    background-image: url("../images/backgroud.png");
}

#loadFrame {
    position: absolute;
    top: 40%;
    left: 48%;
}

#divLoadBar {
    background: rgba(255, 255, 255, 0.35);
    height: 5px;
    margin-top: 10px;
    width: 0%;
}

#divLoadNum {
    text-align: center;
    color: #fff;
    font-size: 10px;
}

#createSalon {
    z-index: 6;
    top: 30%;
    position: absolute;
    left: 45%;
    background: black;
    width: 9%;
    height: 100px;
}

#loadFrame #divLoad, #loadFrame #divLoad:focus, #loadFrame #divLoad:hover {
    width: 64px;
    height: 64px;
    -moz-animation: ronny 0.5s infinite;
    -webkit-animation: ronny 0.5s infinite;
    -ms-animation: ronny 0.5s infinite;
    -o-animation: ronny 0.5s infinite;
    animation: ronny 0.5s infinite;
}

@-moz-keyframes ronny {
    0% {
        background: url('../images/ronnyb_walk1.png') no-repeat;
    }
    25% {
        background: url('../images/ronnyb_walk2.png') no-repeat;
    }
    50% {
        background: url('../images/ronnyb_walk3.png') no-repeat;
    }
    100% {
        background: url('../images/ronnyb_walk4.png') no-repeat;
    }
}
@-webkit-keyframes ronny {
    0% {
        background: url('../images/ronnyb_walk1.png') no-repeat;
    }
    25% {
        background: url('../images/ronnyb_walk2.png') no-repeat;
    }
    50% {
        background: url('../images/ronnyb_walk3.png') no-repeat;
    }
    100% {
        background: url('../images/ronnyb_walk4.png') no-repeat;
    }
}
@-ms-keyframes ronny {
    0% {
        background: url('../images/ronnyb_walk1.png') no-repeat;
    }
    25% {
        background: url('../images/ronnyb_walk2.png') no-repeat;
    }
    50% {
        background: url('../images/ronnyb_walk3.png') no-repeat;
    }
    100% {
        background: url('../images/ronnyb_walk4.png') no-repeat;
    }
}
@-o-keyframes ronny {
    0% {
        background: url('../images/ronnyb_walk1.png') no-repeat;
    }
    25% {
        background: url('../images/ronnyb_walk2.png') no-repeat;
    }
    50% {
        background: url('../images/ronnyb_walk3.png') no-repeat;
    }
    100% {
        background: url('../images/ronnyb_walk4.png') no-repeat;
    }
}
@keyframes ronny {
    0% {
        background: url('../images/ronnyb_walk1.png') no-repeat;
    }
    25% {
        background: url('../images/ronnyb_walk2.png') no-repeat;
    }
    50% {
        background: url('../images/ronnyb_walk3.png') no-repeat;
    }
    100% {
        background: url('../images/ronnyb_walk4.png') no-repeat;
    }
}

#myGameCanvas {
	position: absolute;
	width: 98%;
	left: 0;
	right: 0;	
}

#game_container {
    position:absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#UI{
    z-index: 2;
    position: absolute;
    top: 1;
    left: 1;
    right: 1;
}

#scoreb{
    background: gray;
    padding: 15px;
    position: absolute;
    left: 0;
    width: 5%;
    top: 0;
    text-align: center;
    display: none;
}

#time{
    background: gray;
    padding: 15px;
    top: 0;
    width: 5%;
    position: absolute;
    left: 50%;
    margin-left: -2.5%;
    text-align: center;
    display: none;
}

#scorer{
    display: none;
    background: gray;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    width: 5%;
    text-align: center;
}

#ping{
    display: none;
    position: absolute;
    top: 0;
    right: 23%;
    background: gray;
    padding: 15px;
}

#player{
    display: none;
    position: absolute;
    top: 0;
    left: 23%;
    background: gray;
    padding: 15px;
    width: auto;
    text-align: center;
}
#chat{
    display: none;
    position: absolute;
    color: white;
    right: 7%;
    width: 16%;
    top: 54px;
}

.message{
    width: 100%;
    float: left;
}

#UIBottom{
    z-index: 2;
    position: absolute;
    bottom: 1;
    left: 1;
    right: 1;
}
#sendChat{
    display: none;
    position: absolute;
    bottom: 13px;
    right: 3%;
    padding-right: 0px;
    margin-right: 0px;
    width: 20%;
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
}

#sendMess{
    background: transparent;
    border: 0;
    color: white;
    font-family: 'Comfortaa', cursive;
    width: 100%;
    height: 100%;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.divInput:nth-child(2) {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    float: left;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    z-index: 14;
    position: absolute;
    top: 25%;
    left: 42.8%;
}

.divInput:nth-child(3) {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    float: left;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    z-index: 14;
    position: absolute;
    top: 30%;
    left: 42.8%;
}

.divInput:nth-child(4) {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    float: left;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    z-index: 14;
    position: absolute;
    top: 35%;
    left: 42.8%;
}

.divInput:nth-child(5) {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    float: left;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    z-index: 14;
    position: absolute;
    top: 40%;
    left: 42.8%;
}

div#divInput {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.28);
    position: absolute;
    top: 33%;
    left: 42.5%;
    width: 235px;
    height: 30px;
    border-radius: 5px;
}

div#divInput:last-child {
    border: 9px solid;
    border-color: rgba(0, 0, 0, 0.51);
    position: absolute;
    top: 39%;
    left: 42.5%;
    width: 235px;
    height: 35px;
    border-radius: 5px;
}

#username {
    border: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#password {
    border: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.divInput input {
    border: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    text-align: center;
}

#failed {
    position: absolute;
    top: 55%;
    left: 44%;
    border: 0;
    box-shadow: black 5px;
    border-radius: 5px;
    height: 40px;
    width: 12%;
    text-align: center;
    color: red;
}

#table{
    display: none;
    width: 50%;
    background: white;
    z-index: 2;
    position: absolute;
    top: 10%;
    left: 25%;
    height: auto;
    text-align: center;
}

#B{
    width: 50%;
    float: left;
    border-right: 1px solid;
}

#R{
    width: 50%;
    float: left;
    margin-left: -1px;
}

#bug{
    position: absolute;
    right: 11px;
    bottom: 21px;
    height: 25px;
    width: 25px;
    background: white;
    z-index: 3;
    padding: 5px;
    border-radius: 10px;
}

#UI2 {
    z-index: -1;
    position: absolute;
    top: 26%;
    left: 20%;
    right: 20%;
    height: 50%;
    color: #fff;
}

#button {
    height: 20px;
    width: 100%;
    border-bottom: #fff solid 1px;
    padding: 5px;
}

#list {
    overflow-y: auto;
    max-height: 50%;
}

.salon {
    width: 100%;
    height: 20px;
}

.salon:first-child {
    padding-bottom: 25px;
}

.name_salon {
    float: left;
    width: 50%;
}

.nb_salon {
    float: left;
    width: 40%;
    text-align: center;
}

.teamb {
    float: left;
    width: 50%;
    text-align: center;
}

.teamr {
    float: left;
    text-align: center;
    width: 50%;
}

.lock {
    float: left;
    width: 10%;
    text-align: center;
}

button {
    background: transparent;
    color: #fff;
    border: 0;
    font-weight: bold;
    font-size: large;
}

.right {
    float: right;
}